.btn3d {
    position:relative;
    top: -6px;
    border:0;
     transition: all 40ms linear;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:2px;
     margin-right:2px;
     min-width: 10px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#4274D7;}


    .containersec{
margin-top: 50%;


    }


    .navbar-brand { position: relative; z-index: 2; }


    .navbar .navbar-collapse { position: relative; }
    .navbar .navbar-collapse { padding-left: 22px; }

    

    .navbar {
        border-radius: 0;
        box-shadow: 0px 6px 5px 0px #CEC3E0;
    }

    .navbar-inverse {
        background-color: #00204B;
        border-color: #00204B;
    }

    
    .dropdown-menu .divider {
        background-color: #00204B;
    }
    .dropdown-menu {
        background-color: #00204B;
    }

    .navbar-inverse .navbar-nav > li > a, .dropdown-menu > li > a {
        color: white;
        font-weight: medium;
        font-family: 'Raleway', sans-serif;

        /* font-family: 'Cuprum', sans-serif; */
        transition: background-color 0.8s;
        -webkit-transition: background-color 0.8s;
        -o-transition: background-color 0.8s;
        -moz-transition: background-color 0.8s;
    }
    .navbar-inverse .navbar-nav > li > a:hover {
        background-color: white;
        color: #00204B;

        /* border-bottom: 2px solid blue; */
    }
    .navbar-inverse .navbar-brand {
        font-family: 'Indie Flower', cursive;
        color: white;
    }
    @media screen and (max-width: 767px) {
        .navbar .navbar-collapse { padding-left: 15px; padding-right: 15px; }

        .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
        .navbar .nav-collapse .navbar-form { margin: 0; }
        .nav-collapse>li { float: none; }
    }
